:root{
    --blue: #729fcf;
    --red: #ff325a;
    --gray: #dedede;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}


footer {
    float: left;
    font-size: 20px;
    line-height: 40px;
    padding: 15px;
}

.grid-item {
    background: rgba(255, 255, 255, 0.50);
    padding: 15px;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr  1fr 4fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    min-height: 100%;
    margin: auto;
}

#header {
    grid-column: 1/4;
    text-align: center;
    line-height: 200px;
    margin: 0;
}

#header h1{
    float: right;
}

#main-content {
    display: grid;
    grid-gap: 20px;
    grid-column: 1/4;
    background-color: var(--blue);
}

#logged-in button{
    background-color: white;
    border: none;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    border-radius: 10px;
}

#footer {
    grid-row: 4;
    grid-column: 1/4;
    margin-bottom: 0;
}