<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Subtask</title>
</head>
<h1>Add Subtask</h1>
<form action="/addTask" method="POST">
    <label for="taskName">Subtask Name:</label>
    <input type="text" id="taskName" name="taskName" required><br>

    <label for="taskDescription">Subtask Description:</label>
    <textarea id="taskDescription" name="taskDescription" required></textarea><br>

    <label for="totalEstimatedTime">Total Estimated Time:</label>
    <input type="number" id="totalEstimatedTime" name="totalEstimatedTime" required><br>

    <label for="cost">Cost:</label>
    <input type="number" id="cost" name="cost" required><br>
    <select name="Subtask">
        <option value="Subtask1">Subtask 1</option>
        <option value="Subtask2">Subtask 2</option>
        <option value="Subtask3">Subtask 3</option>
    </select>
    <br>
    <button type="submit">Add Subtask</button>
</form>
<body>

</body>
</html>