<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="../../static/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<hr>
<h1>Project name</h1>
<table>
    <thead>
    <tr>
        <th>Task title</th>
        <th>Task description</th>
        <th>Time estimate</th>
        <th>Cost estimate</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="TasksDTO : ${tasks}">
        <td th:text="${TasksDTO.getTaskName()}"></td>
        <td th:text="${TasksDTO.getTaskDescription()}"></td>
        <td th:text="${TasksDTO.getTotalEstimatedTime()}"></td>
        <td th:text="${TasksDTO.getCost()}"></td>
    </tr>
    </tbody>
</table>
<a href="/addTask"><button>Create task!</button></a>
</body>
</html>