<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"> <!-- IMPORTANT when working with in thymeleaf -->
<head>
    <link href="../../static/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Tasks</title>

</head>
<body>
<h1>Project name</h1>
<div class="task">
    <div class="task-title">
        Task title
    </div>
    <hr>
    <div>
        Task description
    </div>
    <div>
        Time estimate
    </div>
    <div>
        Cost estimate
    </div>
</div>
<div class="task">
    <div class="task-title">
        Task title
    </div>
    <hr>
    <div>
        Task description
    </div>
    <div>
        Time estimate
    </div>
    <div>
        Cost estimate
    </div>
</div>
<div class="task">
    <div class="task-title">
        Task title
    </div>
    <hr>
    <div>
        Task description
    </div>
    <div>
        Time estimate
    </div>
    <div>
        Cost estimate
    </div>
</div>
</body>
</html>