<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"> <!-- IMPORTANT when working with in thymeleaf -->
<head>
    <meta charset="UTF-8">
    <title>Alpha Solutions</title>
</head>
<body>
<h1>Alpha Solutions</h1>
<h3>Here you can see some names :)</h3>
<span th:each="nameDTO : ${names}" >
    <span th:text="'Hello ' + ${nameDTO.name}"/>  <!-- ${} for every component for specifying an attribute -->
    </br>
</span>
<!-- a link to the current url/as/add which will go to our add-name-form -->
<a href="/as/add"><button>Add name</button></a>
</body>
</html>